
.w2w-magister-roles {
    position: relative;
}

    .w2w-magister-roles .information-box {
        margin: 0 0 20px 0;
    }

    .w2w-magister-roles .navigation-options {
        float: right;
    }

        .w2w-magister-roles .navigation-options .navigation-button {
            padding: 5px 10px;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }

            .w2w-magister-roles .navigation-options .navigation-button:hover {
                background-color: #eeeeee;
            }


    .w2w-magister-roles .role-search {
    }

        .w2w-magister-roles .role-search input {
            margin: 0 0 20px 0;
            padding: 5px;
        }

    .w2w-magister-roles .role-results {
    }

        .w2w-magister-roles .role-results table {
            width: 100%;
        }

            .w2w-magister-roles .role-results table thead tr td {
                font-weight: bold;
                margin: 0;
                padding: 6px 10px;
                border-bottom: 1px solid #ccc;
            }

                .w2w-magister-roles .role-results table thead tr td .sort-column {
                    cursor: pointer;
                }

            .w2w-magister-roles .role-results table tbody tr:nth-child(even) {
                background-color: #f1f1f1;
            }

            .w2w-magister-roles .role-results table tbody tr:hover {
                background-color: #e8f1fa;
            }

            .w2w-magister-roles .role-results table tbody tr td {
                margin: 0;
                padding: 6px 10px;
            }


    .w2w-magister-roles .action-button {
        display: block;
        height: 24px;
        width: 24px;
        margin: -2px 0;
        padding: 5px 1px 0 0;
        float: right;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        opacity: 0.6;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }

        .w2w-magister-roles .action-button:hover {
            opacity: 1;
        }

        .w2w-magister-roles .action-button .fa {
            font-size: 14px;
            line-height: inherit;
        }

        .w2w-magister-roles .action-button.add {
            background-color: #228b22;
        }

        .w2w-magister-roles .action-button.delete {
            background-color: #b22222;
        }

a.magister-login {
    border: 1px solid #1995F9;
    border-radius: 4px;
    padding: 16px 20px 16px 90px;
    margin-top: 10px;
    margin-bottom: 0;
    background-image: url(images/magister.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    font-family: "droid_sansregular", arial, helvetica, sans-serif !important;
    font-size: 24px !important;
    color: #1995F9 !important;
    text-decoration: none !important;
    cursor: pointer !important;
    line-height: 40px !important;
    display: inline-block !important;
}

    a.magister-login:hover {
        background-color: #20b9ff !important;
        color: #fff !important;
    }

.login-expand {
    font-family: "droid_sansregular", arial, helvetica, sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #1995F9 !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.LoginTabGroup.hidden {
    display: none !important;
}
