/******************************************************/
/* ICR Articles  Stylesheet                           */
/* This stylesheet can be overruled in the portal.css */
/******************************************************/

/* ************/
/* FAKE LINKS */
/* ************/
    .icr_fl  { cursor: pointer; }               /* Fake link */
    .icr_flh { text-decoration: underline; }    /* Fake link - hover */
/* ************/
/* FAKE LINKS */
/* ************/

/* ************************ */
/* HORIZONTAL GENERIC BLOCK */
/* ************************ */

    /* Generic block, used for showing folders and options */
    .OuterNavBlockHorizontal
    {
        display: block;
        padding: 0px 0px 0px 0px;
    }
    .NavBlockHorizontalTitle
    {
        font-size: 11px;
        color: Gray;
        width: 90px;
        font-weight: bold;
        margin-right: 5px;
        display: block;
        float: left;
    }
    .navBlockHorizontalItemLink
    {
        padding-bottom: 0px;
        margin-right: 5px;
        display: inline;
    }

/* ****************************** */
/* END: HORIZONTAL GENERIC BLOCKS */
/* ****************************** */


/* ************************* */
/* ARTICLE LIST VIEW CONTROL */
/* ......................... */
/* ........ icr_alv ........ */
/* ......................... */
/* ************************* */

    /* LAY-OUT */
    #icr_alv_wrap
    {
    }

    /* CONTENTTYPE IMAGES - TOKEN: [CONTENTTYPE_IMAGE]
       ... e.g. article, document, link, etc. */ 
    .icr_alv_listitem_contentimage
    {
        padding-left: 22px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0% 50%;
        background-color: Transparent;
    }
    .ct_article{ background-image: url("images/Icons_contenttype/article.gif") }
    .ct_document{ background-image: url("images/Icons_contenttype/document.gif") }
    .ct_hyperlink{ background-image: url("images/Icons_contenttype/hyperlink.png") }

    /* ARTICLE ACTION LINKS BLOCK (icons) */
    /* ... integrate the action block in the template as follows:
       ... <span id="icr_alv_listitem_action_block">[ARTICLE_EDITLINK]</span> 
       ... <span id="icr_alv_listitem_action_block">[ARTICLE_DELETELINK]</span> */
    #icr_alv_listitem_action_block
    {
        float: right;
    }
    #icr_alv_listitem_action_block a,
    #icr_alv_listitem_action_block a:link,
    #icr_alv_listitem_action_block a:visited,
    #icr_alv_listitem_action_block a:hover
    { 
        font-size: 10px; 
    }
    #editMessage 
    {
        color: red;
    }
    .article_action_link
    {
        padding: 2px 10px 2px 17px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0% 50%;
        background-color: Transparent;
        float: right;
        height: 13px;
    }
    .article_edit_link
    { background-image: url("images/icons/edit.gif"); }
    .article_delete_link 
    { background-image: url("images/icons/trashcan.gif"); }
    

    /* SORT SELECTOR - MINIMAL STYLES */
    /* Integrate Sort Control in a list template with the token: [SORTCONTROL] */
    .SortSelector_OuterPane    { display: inline; }
    .SortSelector_OuterPane .SortLink { margin: 0px 6px 0px 6px; font-weight: normal; text-decoration: none; color: Silver;}
    .SortSelector_OuterPane .SortLink:hover { text-decoration: underline; }
    .SortSelector_OuterPane .SortLink_Selected_Asc    { background:url("images/icons/button_sort_asc.gif") no-repeat scroll 100% 50%; padding-right: 15px; color: gray; font-weight: bold;}
    .SortSelector_OuterPane .SortLink_Selected_Desc   { background:url("images/icons/button_sort_desc.gif") no-repeat scroll 100% 50%; padding-right: 15px; color: gray; font-weight: bold; }

    /* ACTION AND FOLDERS */
    .icr_options_and_folders_wrap
    {
        display: block;
        padding: 3px 0px 3px 0px;
        border-top: dashed 1px silver;
        border-bottom: dashed 1px silver;
        margin-bottom: 15px;
    }
    #icr_alv_optionsblock a,
    #icr_alv_optionsblock a:link,
    #icr_alv_optionsblock a:visited,
    #icr_alv_optionsblock a:hover
    { 
        font-size: 10px; 
    }
    #icr_alv_optionsblock .navBlockHorizontalItemLink
    {
        padding: 2px 0px 2px 20px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0% 50%;
        background-color: Transparent;
    }
    #icr_alv_optionsblock .linkAddArticle {             background-image: url("images/icons/add_article.gif"); }
    #icr_alv_optionsblock .linkAddCategory {            background-image: url("../../../images/add.gif"); }
    #icr_alv_optionsblock .linkEditCategory {           background-image: url("../../../images/edit.gif"); }
    #icr_alv_optionsblock .linkMoveCategoryItems {      background-image: url("images/icons/moveitems.gif"); }

    #icr_alv_foldersblock a,
    #icr_alv_foldersblock a:link,
    #icr_alv_foldersblock a:visited,
    #icr_alv_foldersblock a:hover
    { 
        font-size: 10px; 
    }
    #icr_alv_foldersblock .navBlockHorizontalItemLink
    {
        padding: 2px 0px 2px 20px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0% 50%;
        background-color: Transparent;
    }
    #icr_alv_foldersblock .linkPublished { background-image: url("images/icons/published.png"); }
    #icr_alv_foldersblock .linkSubmittedForApproval { background-image: url("images/icons/approve_article.gif"); }
    #icr_alv_foldersblock .linkDrafts { background-image: url("images/icons/draft.gif"); }
    #icr_alv_foldersblock .linkExpired { background-image: url("images/icons/expired.gif"); }                                                      
    #icr_alv_foldersblock .linkEditableContent {           background-image: url("../../../images/edit.gif"); }
    #icr_alv_foldersblock .linkNeedsRevisioning { background-image: url("images/icons/status.png"); }
    #icr_alv_foldersblock .selected { font-weight: bold;}


/* ****************************** */
/* END: ARTICLE LIST VIEW CONTROL */
/* ****************************** */


/* *************************** */
/* ARTICLE DETAIL VIEW CONTROL */
/* ........................... */
/* ......... icr_adv ......... */
/* ........................... */
/* *************************** */

    /* LAY-OUT */
    #icr_adv_wrap
    {
    }

    /* SECTION DIVIDER */
    .icr_adv_sectiondivider
    {
        height: 1px;
        border-bottom: dashed 1px silver;
        margin: 12px 50px 12px 50px;
    }    
        
    /* ARTICLE OPTIONS BLOCK */
    #icr_adv_optionsblock
    {
        /* Must be equal to the options and folders bar in the list */
        display: block;
        padding: 3px 0px 3px 0px;
        border-top: dashed 1px silver;
        border-bottom: dashed 1px silver;
        margin-bottom: 15px;
    }
    #icr_adv_optionsblock a,
    #icr_adv_optionsblock a:link,
    #icr_adv_optionsblock a:visited,
    #icr_adv_optionsblock a:hover
    { 
        font-size: 10px; 
    }
    #icr_adv_optionsblock .navBlockHorizontalItemLink
    {
        padding: 2px 0px 2px 20px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0% 50%;
        background-color: Transparent;
    }
    #icr_adv_optionsblock .linkAddArticle { background-image: url("images/icons/add_article.gif"); }
    #icr_adv_optionsblock .linkChangeArticle { background-image: url("images/icons/edit.gif"); }
    
    /* ARTICLE STATUS BLOCK */
    #icr_adv_statusblock
    {
        font-weight: bold;
        width: auto;
        padding: 5px 0px 5px 25px;
        background-repeat: no-repeat; background-position: 5px 55%; background-image: url("images/icons/status.png");
        background-color: #EDEDED; 
        border: 1px solid red;
        margin: 10px 0;
    }
            
    /* ARTICLE COMMENT BLOCK */
    .pubmod_adv_commentlist_intro { font-weight: bold; } /* ??? */
    .pubmod_adv_comment_block { min-width: 150px; }
    .pubmod_adv_comment_block .pubmod_adv_commentbox_intro { display: block; font-weight: bold; font-size: 16px; padding-bottom: 10px; }
    .pubmod_adv_comment_block .pubmod_adv_comment_box { display: block; margin-bottom: 10px; }
    .pubmod_adv_comment_block .dnnFormItem .dnnTooltip { text-align: left; width: 25%; /*padding: 0px 0 0px 20px; margin: 0 0 7px 0 !important;*/}
    .pubmod_adv_comment_block .dnnFormItem > input[type="text"] { width: 62%; display: block; }
    .pubmod_adv_comment_block .pubmodCaptchaWrapper {width: 60%; } 
    .pubmod_adv_comment_block .pubmodCaptchaWrapper img {width: 250px;}
    .pubmod_adv_comment_block .dnnPrimaryAction {float: right; }
    
    
    /* COMMENT BLOCK ACTION LINKS (icons) */
    /* ... integrate the action block in the template as follows:
       ... <span id="icr_adv_commentitem_action_block">[COMMENT_DELETELINK][COMMENT_EDITLINK]</span> */
    #pubmod_adv_commentitem_action_block { float: right; }
    .comment_action_link { padding: 2px 10px 2px 17px; background-repeat: no-repeat; background-attachment: scroll;
                           background-position: 0% 50%; background-color: Transparent; }
    .comment_delete_link { background-image: url("images/icons/trashcan.gif"); }
    .comment_edit_link { background-image: url("images/icons/edit.gif"); }
    

/* ********************************* */
/* END : ARTICLE DETAIL VIEW CONTROL */
/* ********************************* */


/* *****************                            */
/* FORM EDIT SCREENS                            */
/* ... Overrides on the default dnn form styles */
/* *****************                            */

.pubmodEditForm {overflow: hidden;}
.pubmodEditForm .FormTitle  {font-size: 28px; padding: 15px; padding-left: 0px; }
.pubmodEditForm fieldset { }
.pubmodEditForm .dnnFormItem { padding: 0 !important; margin-bottom: 12px;}
.pubmodEditForm .dnnFormItem label, .pubmodEditForm .dnnFormItem .dnnFormLabel { text-align: left; margin-right: 0 !important; }
.pubmodEditForm .dnnFormItem .dnnTooltip { text-align: left; width: 30%; padding: 0px 0 0px 20px; margin: 0 0 7px 0 !important;}
.pubmodEditForm .dnnFormHelp { margin-right: 10px; }

.pubmodEditForm .dnnFormItem > input[type="text"], /* Deze instelling mag de datapicker inputboxes niet raken */
.pubmodEditForm .dnnFormItem select, 
.pubmodEditForm .dnnFormItem .dnnFormInput,
.pubmodEditForm .dnnFormItem textarea,
.pubmodEditForm .dnnFormItem select { width: 60%; display: block; }

.pubmodEditForm .dnnFormItem select {width: 62%;}
.pubmodEditForm .dnnFormItem textarea { min-height: 40px; width: 47.3%; }
.pubmodEditForm .dnnFormItem select {-moz-border-radius: 3px; border-radius: 3px; padding: 5px; background: #FFFFF5; -moz-box-shadow: inset 0 0 3px 3px #fffbe1;
                                     -webkit-box-shadow: inset 0 0 3px 3px #FFFBE1; box-shadow: inset 0 0 3px 3px #FFFBE1; border-color: #BCB691; border-width: 1px; }

.summaryContainer.dnnFormItem .textareaContainer { display: table; width: 47%; background-color: #e2e5e9; }
.summaryContainer.dnnFormItem > div > div { margin: 1px 1px -15px 1px; }
.summaryContainer.dnnFormItem textarea { width: 100%; box-sizing: border-box; }
.summaryContainer.dnnFormItem .textareaContainer span { font-size: 12px; font-family: 'Segoe UI', sans-serif; color: #000; display: table-row; text-align: right; }

}

.pubmodCaptchaWrapper {
    float: left;
}

/* ARTICLE EDIT : BUTTONS */
.pubmod_WizardButtonContainer { float: left; }
.pubmod_ActionButtonContainer { float: right; }

/* ARTICLE EDIT : STATISTICS BAR */
.icr_edit_statistics_wrap { display: block; overflow: hidden; margin-bottom: 0 13px 12px 0; font-size: 9px; padding-bottom: 10px; }
.icr_edit_statistics_leftcol, .icr_edit_statistics_centercol, .icr_edit_statistics_rightcol { width: 33%;  float: left; }
.icr_edit_stat_fieldset { display:block; clear:both; } /* Fieldset is needed to let label and value act as a row */
.icr_edit_stat_label, .icr_edit_stat_field { margin-bottom: 3px; }
.icr_edit_stat_label { display: block; width: 40%; float: left; font-weight: bold; }
.icr_edit_stat_field { display: block; width: 60%; float: left; }
/* END ARTICLE EDIT : STATISTICS BAR */

/* MULTISELECT CONTROL */
.pubmodEditForm .MultiSelectFreeTextBox {width: 55% !important; margin-right: 3px;} /* else the button will fall on a new line */
.pubmodEditForm .MultiSelectFreeTextButton {}
.pubmodEditForm .icr_multiselect_grid_wrap { float: left; /*margin-left: 20px;*/}
.pubmodEditForm .icr_multiselect_grid_wrap td {padding: 3px 6px;}
.pubmodEditForm .icr_filesgrid_uploadify_wrap {/*margin-left: 20px;*/}
.pubmodEditForm .icr_filesgrid_uploadify_wrap .dnnInputFileWrapper {display:none !important;}
.pubmodEditForm .icr_filesgrid_grid_wrap {float: left; /*margin-left: 20px; */}
/* MULTISELECT CONTROL */

/* PERMISSIONSGRID */
#icr_prmgrid_title { margin-bottom: 5px; }
.icr_prmgrid_wrap { display: block; clear: both; overflow: auto; margin-left: 18px; width: auto; }
.icr_prmgrid_wrap td, .icr_prmgrid_wrap th {padding: 2px 4px;}
#icr_prmgrid_userselector { clear: both; margin-top: 15px; }
.icr_prmgrid_AddButton { padding: 0px 0px 0px 20px; background-repeat: no-repeat; background-attachment: scroll; background-position: 0% 50%;
                         background-color: Transparent; background-image: url("../../../images/add.gif"); }
/* END: PERMISSIONSGRID */

/* Quick fix for the radeditor */
.RadEditor.Default.reWrapper {width:100% !important;}

/* ************************* */
/* END: GENERIC EDIT SCREENS */
/* ************************* */



/* ****************** */
/* CATEGORY COMBO CSS */
/* ****************** */
/*   ... NOTE: Set in ArticlesModuleUtilities.FormatCategoryList */
.Category_ComboList_TopLevel
{
    font-weight: bold;
}
.Category_ComboList_Selectable
{
}
.Category_ComboList_NotSelectable
{
    /* Only used in the article edit form */
    color: Gray!important;
}
.Category_ComboList_Current
{
    /* Only used in the category edit form */
    color: Red!important;
}
/* *********************** */
/* END: CATEGORY COMBO CSS */
/* *********************** */

/* ****************** */
/* CUSTOM FANCYBOX CSS */
/* ****************** */
/* hide the actual buttons helper */
#fancybox-buttons {
    display: none
}
/* position the clone : notice the class "clone" */
#fancybox-buttons.clone {
    position: absolute;
}
/* also position the child ul */
#fancybox-buttons.clone ul {
    top: 80px;
    left: 45%;
    position: absolute;
    width: 91px;
}
/* *********************** */
/* END: CUSTOM FANCYBOX CSS */
/* *********************** */

/* ****************** */
/* CATEGORY RADUPLOAD CSS */
/* ****************** */
.ruInputs li
{
    list-style:none;
}
.ruDelete, .ruRemove, .ruCheck, .RadUploadSubmit, .ruAdd
{
    visibility:hidden;
}
/* *********************** */
/* END: CATEGORY RADUPLOAD CSS */
/* *********************** */


/* ****************** */
/* FILEBOX FRONT CSS  */
/* ... minimal styles */
/* ****************** */
.FileBoxHead 
{
    padding: 5px 10px;
    color: Gray; font-weight: bold;
    background-color:#CCCCCC;
    margin:1px !important;
}
.FileBoxBody 
{
    padding: 5px 10px;
    background-color:#F4F4F8;
}
.FileBoxLink
{
    margin: 10px;
    vertical-align:top;
}
.FileBoxImageLink, .FileDataGridImage
{
    overflow:hidden;
    display:inline-block;
    margin: 0 5px;
}

.FileBoxUnsortedList .ImageList img, .ThumbnailImg
{
    border-radius: 5px;
}

.FileBoxWrap { margin-bottom:15px;}
.FileBoxUnsortedList {margin:0px; padding:0px;}
.FileBoxUnsortedList > li.ImageList { display:inline-block; zoom:1; *display:inline !important; height:75px;  }
.FileBoxUnsortedList > li.ImageList > a > img  { height:75px;}
.FileBoxUnsortedList li.DocumentList {list-style-position:inside; margin:0px 0px 5px 0px; }


/* *********************** */
/* END: FILEBOX FRONT CSS */
/* *********************** */

/* ****************** */
/* FILEBOX BACK CSS */
/* ****************** */
.FileDataGridImage 
{
    width:32px;
    height:32px;
    overflow:hidden;
    display:inline-block;
    margin: 0 5px;
}
.ThumbnailImg
{
    border-radius: 5px;
}
/* *********************** */
/* END: FILEBOX BACK CSS */
/* *********************** */

/* ****************** */
/* AUTHOR CSS */
/* ****************** */
.AuthorBiography 
{
    display: none;      /* tzt uit code slopen, kan deze css klasse ook weg */
}
/* *********************** */
/* END: AUTHOR CSS */
/* *********************** */

/* ****************** */
/* LIGHTROOM CSS */
/* ****************** */
.FileBoxBody .FileBoxUnsortedList .ImageList
{
    list-style: none;
    /*display: inline;*/
    margin: 5px 10px 5px 0;
}

/* *********************** */
/* END: LIGHTROOM CSS */
/* *********************** */

#DownloadImage
{
    width: 19px;
    height: 19px;
    display: inline-block;
    background-image: url("../../../images/eip_save.gif");
}


/*--------- Icons Articlecontent selection ----------*/
.ICR_WrapperWizard {
   width: 90%;
   margin: 0px auto;
}

.ICR_HeaderWizard {
   padding: 0px;
   min-height: 25px;
}

.ICR_HeaderWizard .FormTitle {
   font-weight: 700;
   font-size: 1.2em;
   
}

.ICR_StepsWizard {

   min-height: 25px;

}

.ICR_ButtonWizardStep {
   width:150px;
	line-height:30px;
	margin:0px; 
	padding: 5px;
	display: inline-block;
   text-align: center;
   background: #a2a2a2;
}

.ICR_ButtonWizardStep:hover {
   background: #e4e4e4;
}

a.ICR_ButtonWizardStep {
   font-size: 16px;
   font-weight: 700;
   padding: 5px;
   margin-right:10px;
   color: #fff;
   text-decoration: none;
   text-align: center;
}

a.ICR_ButtonWizardStep:link {
   color: #fff;
}

a.ICR_ButtonWizardStep:visited {
   color: #fff;
}

a.ICR_ButtonWizardStep:hover {
   color: #000;
   text-decoration: none;
}

.ICR_ButtonWizardStepActive {
   background: #b5d7b4;
   color: #5a7359;
}

.ICR_ButtonWizardStepActive:hover {
   background: #e4e4e4;
}

.ICR_HelpTextWizard {
   padding: 10px 0;
   min-height: 25px;
}

.ICR_WarningWizard {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #df4a40;
	background: #f7eaea;
	color: #900;
	line-height: 20px;
}

.IconWrapper{width: 100%; padding-top:15px;}

.IconContainer {
	width:150px;
	height:180px;
	
	padding: 5px;
	display: inline-block;
	
	background: rgb(149,149,149); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(228,228,228,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(228,228,228,1) 100%); /* W3C */

}

.IconContainer:hover {
	background: rgb(228,228,228); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(228,228,228,1) 0%, rgba(149,149,149,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(100%,rgba(149,149,149,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(149,149,149,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(149,149,149,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(149,149,149,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(228,228,228,1) 0%,rgba(149,149,149,1) 100%); /* W3C */
}

.IconContainer h3{
	font-size:13px;
	text-align: center;
	color: #000;
   border: 0px;
}


.Icon { 
	width: 150px;
	height: 150px;

	display:block; 
	padding:0px; 
	text-decoration: none; 
	z-index:999;
	
	-webkit-transition: background 500ms ease-out 0.2s;
    -moz-transition: background 500ms ease-out 0.2s;
    -o-transition: background 500ms ease-out 0.2s;
    transition: background 500ms ease-out 0.2s;
	-ms-transition: background 500ms ease-out 0.2s;
}

.IconArticle { background:url(images/Icons_Contenttype/Article_Large.png) no-repeat scroll center; }
.IconArticle:hover { background:url(images/Icons_Contenttype/Article_Large.png) no-repeat scroll center; }

.IconDocument { background:url(images/Icons_Contenttype/Files_Large.png) no-repeat scroll center; }
.IconDocument:hover { background:url(images/Icons_Contenttype/Files_Large.png) no-repeat scroll center; }

.IconHyperlink { background:url(images/Icons_Contenttype/Hyperlink_Large.png) no-repeat scroll center; }
.IconHyperlink:hover { background:url(images/Icons_Contenttype/Hyperlink_Large.png) no-repeat scroll center; }

.IconPhotos { background:url(images/Icons_Contenttype/Photos_Large.png) no-repeat scroll center; }
.IconPhotos:hover { background:url(images/Icons_Contenttype/Photos_Large.png) no-repeat scroll center; }



/* fixes pubmod*/
.pubmodEditForm .dnnFormItem > .RadPicker_Default { float:left; width:20% !important;}
.ICR_FreeTextPlaceholder > input[type=text] {max-width:300px !important}
.dnnFormItem > .RadPicker_Default + .RadPicker_Default {margin-left:25px;}

/* category filepicker fixes */
.dnnFilePicker {}
.dnnFilePicker .dnnLeft {margin-top: 20px;}
.dnnFilePicker .dnnLeft .dnnFormItem span { width: 50px;}
.dnnFilePicker .dnnLeft .dnnFilePickerImageHolder { margin: 10px 10px 30px 20px;}
.dropzone {min-height: 0!important}

/* RadComboBox (Auteur selector)  */
.pubmodEditForm .RadComboBox { width: 47.3% !important; }
.pubmodEditForm .RadComboBox .rcbInner { height: 28px; padding:0; } 
.pubmodEditForm .RadComboBox .rcbInner .rcbInput { height: 28px; box-shadow: none !important; padding: 0 8px !important; border-radius: 0 !important; border: none !important; }
.pubmodEditForm .RadComboBox .rcbInner .rcbActionButton { height: 28px; max-width: 30px; min-width: inherit; }
.RadComboBoxDropDown .rcbList { border:1px solid #000;}

/* Semi-transparent overlay without selectable content */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9000;
    cursor: pointer;
    -webkit-user-select: none;  /* Safari */     
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none;          /* Standard */
}

#overlayText {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.SpinnerActive:before { position:fixed; content:""; z-index: 9998; height:40px; width:40px; top:50vh; left:50vw; margin:-20px 0 0 -20px; border-radius:6px; box-shadow:0 0 10px #acacac; background-color:#fff; }
.SpinnerActive:after { position:fixed; content:"\f29b"; z-index: 9999; height:40px; width:40px; top:50vh; left:50vw; margin:-20px 0 0 -20px; color:#acacac; font-family: "Ionicons"; line-height:40px; text-align:center; font-size:32px; -webkit-animation: spinner 2s linear infinite; animation: spinner 2s linear infinite; -webkit-transform:rotate(0deg); transform:rotate(0deg); }

@-webkit-keyframes spinner { 
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}

@keyframes spinner { 
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}